// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
  float: left;
  margin:20px;
}

#show {
  float: left;
  margin:20px;

}
